@model IEnumerable<SanPham>

<style>
    .btn-custom {
        width: 100%; /* Đặt chiều rộng của nút là 100% */
        min-height: 40px; /* Đặt chiều cao tối thiểu của nút */
        padding: 10px 0; /* Đặt padding để đảm bảo chữ không bị mất */
        font-size: 16px; /* Đặt kích thước font nếu cần */
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-sanphamId="@item.Id">
                        <img src="@item.ImageUrl" alt="Product image" class="product-image" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="product-title">
                            <a asp-action="Details" asp-route-sanphamId="@item.Id">@item.Name</a>
                        </h5>
                        <h6 class="card-title">@item.Price</h6>
                        <p class="card-text">@item.Description</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-primary btn-custom">Thêm vào &#10084;</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger btn-custom">Mua Hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
